.md-header__button.md-logo img {
  object-fit: contain;
  width: auto;
  height: 4em;
}

a.md-header__button.md-logo {
  padding: 0;
}

[data-md-color-scheme="slate"] {
  --md-hue: 215;
}

.md-nav__item .md-nav__link--active {
  color: var(--md-primary-fg-color--light);
}

div.sidebar-link {
  padding: 0.6rem;
  font-size: .55rem;
}

.sidebar-link a > svg {
  width: 11px;
  height: 11px;
  opacity: 0.5;
  margin-left: 3px;
}
