site_name: Rancher Opni
site_url: https://github.com/rancher/opni-docs
repo_url: https://github.com/rancher/opni
strict: false
theme:
  features:
    - navigation.instant
  name: material
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: purple
      accent: purple
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: purple
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: "Work Sans"
  logo: "assets/logo-horizontal-opni-no-bg.png"
  favicon: "assets/favicon.png"
plugins:
  - search
  - markdownextradata: {}
markdown_extensions:
  - codehilite
  - admonition
  - pymdownx.tabbed
  - pymdownx.superfences
  - toc:
      permalink: true
nav:
  - index.md
  - Setup Guides:
      - gpu.md
extra_css:
  - stylesheets/extra.css
